# file
*.csv
*.tsv
*.fa
*.txt
*.yaml
*.json
*.pyc
*.out
*.log
*.png
*.jpg
*.npy
*.html
*.pth
*.pdf
*.h5

# folder
.vscode/
.history/
__pycache__/

old/
_*/
_*
data/
outputs/
saved/
figures/

artifacts/
pretrained_models/
TFBS_based_models/
explanations/
analyze_epi_features/
process_raw_data/
padding_effect/
predict_CRE_activity/artifacts/
alphagenome_research/
alphagenome-pytorch/
