train: True #是否训练
seed: 0 #随机数种子
device: cuda:0 #模型使用单卡时的显卡名称
save_dir: saved #保存路径
num_epochs: 200 #训练的epoch数目
num_valid_epochs: 1 #每多少个epoch模型运行valid
num_log_steps: 1 #每多少个step模型输出log, 0 means no output
scheduler_interval: step

load_saved_model: False
saved_model_path: 
freeze_parameters_list: []

train_dataset_1:
    type: SeqLabelDataset
    args:
        table_dir: '../data/lentiMPRA/joint_library_table_s.csv'
        input_column: seq
        output_column: HepG2
        # filter_column: chr
        # filter_not_in_list: ['chr20', 'chr21', 'chr22', 'chrX', 'chrnan']

valid_dataset_1:
    type: SeqLabelDataset
    args:
        table_dir: '../data/lentiMPRA/joint_library_table_s.csv'
        input_column: seq
        output_column: HepG2
        # filter_column: chr
        # filter_in_list: ['chr20', 'chr21', 'chr22']

train_dataset_2:
    type: SeqLabelDataset
    args:
        table_dir: '../data/lentiMPRA/joint_library_table_s.csv'
        input_column: seq
        output_column: K562
        # filter_column: chr
        # filter_not_in_list: ['chr20', 'chr21', 'chr22', 'chrX', 'chrnan']

valid_dataset_2:
    type: SeqLabelDataset
    args:
        table_dir: '../data/lentiMPRA/joint_library_table_s.csv'
        input_column: seq
        output_column: K562
        # filter_column: chr
        # filter_in_list: ['chr20', 'chr21', 'chr22']

data_loader: #数据加载器设置
    type: DataLoader #数据加载器类名
    args:
        batch_size: 1024 #batch_size大小
        num_workers: 16 #并行加载器数量

# model: #模型设置
#     type: MyBasset #模型类名
#     args:
#         input_length: 230
#         output_dim: 2
#         conv1_channels: 200
#         conv1_kernel_size: 11
#         conv2_channels: 100
#         conv2_kernel_size: 11
#         conv3_channels: 100
#         conv3_kernel_size: 11
#         pool1_kernel_size: 2
#         pool2_kernel_size: 2
#         pool3_kernel_size: 2
#         linear1_channels: 1000
#         linear2_channels: 100
#         conv_dropout_rate: 0.5
#         linear_dropout_rate: 0.5
#         # gap_layer: True
#         augmentation: True
#         augmentation_region: [15, -15]

model: #模型设置
    type: MPRAnn #模型类名
    args:
        output_dim: 2
        augmentation: True
        augmentation_region: [15, -15]


optimizer: #优化器设置
    type: Adam #优化器类名
    args:
        lr: 3.0e-4 #学习率
        weight_decay: 1.0e-4 #正则化

lr_scheduler: #学习率调度器设置
    type: CosineAnnealingWarmRestarts #学习率调度器类名
    args: 
        T_0: 20 #余弦退火周期

loss_func:
    type: MSELoss

metric_func_list:
    - type: Pearson

logger: #日志设置
    version: 1
    disable_existing_loggers: false
    formatters:
        simple:
            format: '%(message)s'
        complex:
            format: '%(asctime)s - %(levelname)s - %(message)s'
    handlers:
        console:
            class: logging.StreamHandler
            level: INFO
            formatter: complex
            stream: ext://sys.stdout
        file_handler:
            class: logging.handlers.RotatingFileHandler
            level: DEBUG
            formatter: complex
            filename: log.log
            maxBytes: 10485760
            backupCount: 10
            encoding: utf8
    root:
        level: DEBUG
        handlers:
            - console
            - file_handler
