train: True #是否训练
seed: 0 #随机数种子
device: cuda:0 #模型使用单卡时的显卡名称
save_dir: saved #保存路径
num_epochs: 100 #训练的epoch数目
num_valid_epochs: 1 #每多少个epoch运行valid
num_log_steps: 1000 #每多少个step输出log, 0 means no output
scheduler_interval: step

DDP: True

load_saved_model: False
saved_model_path: 
freeze_parameters_list: []

train_dataset_1:
    type: BedDataset
    args:
        bed_file: '/home/hxcai/cell_type_specific_CRE/data/ATAC_Xuegong/HepG2_sorted_intersect.bed'
        ref_genome_path: '/home/hxcai/genome/hg19.fa'
        context_length: 1000
        filter_column: 0
        filter_not_in_list: ['chr20', 'chr21', 'chr22', 'chrX', 'chrY', 'chrnan']

valid_dataset_1:
    type: BedDataset
    args:
        bed_file: '/home/hxcai/cell_type_specific_CRE/data/ATAC_Xuegong/HepG2_sorted_intersect.bed'
        ref_genome_path: '/home/hxcai/genome/hg19.fa'
        context_length: 1000
        filter_column: 0
        filter_in_list: ['chr20', 'chr21', 'chr22']


data_loader:
    type: DataLoader
    args:
        batch_size: 2048
        num_workers: 1
        pin_memory: True

model:
    type: DeepSEA
    args:
        input_length: 1000
        output_dim: 1

# model:
#     type: MyBassetN
#     args:
#         input_length: 1000
#         output_dim: 1
#         conv_channels_list: [200,200,200,200,200,200,200,200,200,200,200,200,200,200,200]
#         conv_kernel_size_list: [3,3,3,3,3,3,3,3,3,3,3,3,3,3,3]
#         pool_kernel_size_list: [1,1,1,1,4,1,1,1,1,4,1,1,1,1,4]
#         linear_channels_list: [1000,1000]
#         conv_dropout_rate: 0.1
#         linear_dropout_rate: 0.5
#         gap_layer: False
#         # augmentation_region: [15, -15]
#         sigmoid: True


optimizer:
    type: Adam
    args:
        lr: 1.0e-4
        weight_decay: 1.0e-4

lr_scheduler:
    type: CosineAnnealingWarmRestarts
    args: 
        T_0: 20

loss_func:
    type: BCELoss

metric_func_list: [
    {type: AccuracyScore},
    {type: PrecisionScore},
    {type: RecallScore},
    {type: F1Score},
    ]

logger:
    version: 1
    disable_existing_loggers: false
    formatters:
        simple:
            format: '%(message)s'
        complex:
            format: '%(asctime)s - %(levelname)s - %(message)s'
    handlers:
        console_handler:
            class: logging.StreamHandler
            level: INFO
            formatter: complex
            stream: ext://sys.stdout
        info_file_handler:
            class: logging.handlers.RotatingFileHandler
            level: INFO
            formatter: complex
            filename: info.log
            maxBytes: 10485760
            backupCount: 10
            encoding: utf8
        debug_file_handler:
            class: logging.handlers.RotatingFileHandler
            level: DEBUG
            formatter: complex
            filename: debug.log
            maxBytes: 10485760
            backupCount: 10
            encoding: utf8
    root:
        level: DEBUG
        handlers:
            - console_handler
            - info_file_handler
            - debug_file_handler
