train: True #是否训练
seed: 0 #随机数种子
device: cuda:0 #模型使用单卡时的显卡名称
save_model: False #是否保存模型
save_dir: saved #保存路径
num_epochs: 100 #训练的epoch数目
num_valid_epochs: 1 #每多少个epoch运行valid
num_log_steps: 1 #每多少个step输出log, 0 means no output
scheduler_interval: step

load_saved_model: False #是否加载保存的模型

random_data_split: True #是否随机划分训练集和验证集，True则随机划分，False则不划分（有可能按照下面的filter划分）
train_valid_test_ratio: [0.8, 0.2, 0.0]

train_dataset_1:
    type: SeqLabelDataset
    args:
        table_dir: '../data/lentiMPRA/joint_library_table_s.csv'
        input_column: 'seq'
        output_column: 'HepG2'

valid_dataset_1:
    type: SeqLabelDataset
    args:
        table_dir: '../data/lentiMPRA/joint_library_table_s.csv'
        input_column: 'seq'
        output_column: 'HepG2'

train_dataset_2:
    type: SeqLabelDataset
    args:
        table_dir: '../data/lentiMPRA/joint_library_table_s.csv'
        input_column: 'seq'
        output_column: 'K562'

valid_dataset_2:
    type: SeqLabelDataset
    args:
        table_dir: '../data/lentiMPRA/joint_library_table_s.csv'
        input_column: 'seq'
        output_column: 'K562'
        # filter_column: chr
        # filter_in_list: ['chr1']

data_loader:
    type: DataLoader
    args:
        batch_size: 1024
        num_workers: 16

model:
    type: MyBassetN
    args:
        input_length: 230
        output_dim: 2
        conv_channels_list: [200,200,200,200,200,200,200,200,200,200,200,200,200,200,200]
        conv_kernel_size_list: [3,3,3,3,3,3,3,3,3,3,3,3,3,3,3]
        pool_kernel_size_list: [1,1,1,1,2,1,1,1,1,2,1,1,1,1,2]
        linear_channels_list: [1000,100]
        conv_dropout_rate: 0.1
        linear_dropout_rate: 0.5
        gap_layer: False
        augmentation_region: [15, -15]

optimizer:
    type: Adam
    args:
        lr: 3.0e-4
        weight_decay: 1.0e-4

lr_scheduler:
    type: CosineAnnealingWarmRestarts
    args: 
        T_0: 20

loss_func:
    type: MSELoss

metric_func_list:
    - type: Pearson

logger:
    version: 1
    disable_existing_loggers: false
    formatters:
        simple:
            format: '%(message)s'
        complex:
            format: '%(asctime)s - %(levelname)s - %(message)s'
    handlers:
        console_handler:
            class: logging.StreamHandler
            level: INFO
            formatter: complex
            stream: ext://sys.stdout
        info_file_handler:
            class: logging.handlers.RotatingFileHandler
            level: INFO
            formatter: complex
            filename: info.log
            maxBytes: 10485760
            backupCount: 10
            encoding: utf8
        debug_file_handler:
            class: logging.handlers.RotatingFileHandler
            level: DEBUG
            formatter: complex
            filename: debug.log
            maxBytes: 10485760
            backupCount: 10
            encoding: utf8
    root:
        level: DEBUG
        handlers:
            - console_handler
            - info_file_handler
            - debug_file_handler
