train: True #是否训练
seed: 0 #随机数种子
device: cuda:0 #模型使用单卡时的显卡名称
save_model: False #是否保存模型
save_dir: saved #保存路径
num_epochs: 100 #训练的epoch数目
num_valid_epochs: 1 #每多少个epoch模型运行valid
num_log_steps: 1 #每多少个step模型输出log, 0 means no output
scheduler_interval: step

load_saved_model: False

random_data_split: True #是否随机划分训练集和验证集，True则随机划分，False则不划分（有可能按照下面的filter划分）
train_valid_test_ratio: [0.8, 0.2, 0.0]

train_dataset_1:
    type: SeqLabelDataset
    args:
        seqs_dir: './data/train_embedding.npy'
        labels_dir: './data/train_labels.npy'

valid_dataset_1:
    type: SeqLabelDataset
    args:
        seqs_dir: './data/train_embedding.npy'
        labels_dir: './data/train_labels.npy'
        
valid_dataset_2:
    type: SeqLabelDataset
    args:
        seqs_dir: './data/valid_embedding.npy'
        labels_dir: './data/valid_labels.npy'

data_loader: #数据加载器设置
    type: DataLoader #数据加载器类名
    args:
        batch_size: 1024 #batch_size大小
        num_workers: 16 #并行加载器数量

model: #模型设置
    type: MLP #模型类名
    args:
        input_size: 15364
        hidden_size: 21907
        output_size: 1


optimizer: #优化器设置
    type: Adam #优化器类名
    args:
        lr: 1.0e-5 #学习率
        weight_decay: 1.0e-4 #正则化

lr_scheduler: #学习率调度器设置
    type: CosineAnnealingWarmRestarts #学习率调度器类名
    args: 
        T_0: 20 #余弦退火周期

loss_func:
    type: MSELoss

metric_func_list:
    - type: Pearson

logger:
    version: 1
    disable_existing_loggers: false
    formatters:
        simple:
            format: '%(message)s'
        complex:
            format: '%(asctime)s - %(levelname)s - %(message)s'
    handlers:
        console_handler:
            class: logging.StreamHandler
            level: INFO
            formatter: complex
            stream: ext://sys.stdout
        info_file_handler:
            class: logging.handlers.RotatingFileHandler
            level: INFO
            formatter: complex
            filename: info.log
            maxBytes: 10485760
            backupCount: 10
            encoding: utf8
        debug_file_handler:
            class: logging.handlers.RotatingFileHandler
            level: DEBUG
            formatter: complex
            filename: debug.log
            maxBytes: 10485760
            backupCount: 10
            encoding: utf8
    root:
        level: DEBUG
        handlers:
            - console_handler
            - info_file_handler
            - debug_file_handler
